@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--snow-color);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.64px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --blue-color: #0a327b;
  --red-color: #f65552;
  --very-dark-grey-blue-color: #1c202b;
  --dark-grey-blue-color: #5e6778;
  --grey-blue-color: #939cad;
  --light-grey-blue-color: #e5effa;
  --very-light-grey-blue-color: #dde7ee;
  --snow-color: #f7fafd;
  --white-color: #fff;
}

#root {
  padding: 0 16px 30px;
  background-color: var(--white-color);
}

.avatar,
picture,
svg {
  display: block;
}

.avatar {
  margin-right: 13px;
}

input,
textarea,
button,
select {
  font: inherit;
}

button {
  background-color: transparent;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-count {
  display: flex;
  align-items: center;
  margin: 24px 0;
}

.notification-count h1 {
  font-size: 20px;
  line-height: 25.2px;
}

.notification-count div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  background-color: var(--blue-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 800;
  line-height: 20.16px;
}

.notification-count h1,
.name {
  color: var(--very-dark-grey-blue-color);
}

.mark-read button,
.action,
.secondary-link {
  color: var(--dark-grey-blue-color);
}

.notification-count h1,
.name {
  font-weight: 800;
}

.action {
  margin: 0 6px;
}

.notification {
  display: flex;
  align-items: flex-start;
  padding: 16px 26px 16px 16px;
  margin-bottom: 10px;
}

.unread {
  background-color: var(--snow-color);
}

.link {
  font-weight: 700;
}

.primary-link {
  color: var(--blue-color);
}

.badge {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-bottom: 1px;
}

.time {
  margin-top: 3px;
  color: var(--grey-blue-color);
}

.message {
  padding: 16px;
  border: 1px solid var(--very-light-grey-blue-color);
  border-radius: 5px;
  margin-top: 12px;
  color: var(--dark-grey-blue-color);
}

.postImg {
  display: block;
  width: 39px;
  height: 39px;
  margin-left: auto;
}

  .message {
    padding: 17px 18px 18px 19px;
  }

  .postImg {
    width: 45px;
    height: 45px;
  }

}
