@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
.badge {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-bottom: 1px;
}

.message {
  padding: 16px;
  border: 1px solid var(--very-light-grey-blue-color);
  border-radius: 5px;
  margin-top: 12px;
  color: var(--dark-grey-blue-color);
}

.postImg {
  display: block;
  width: 39px;
  height: 39px;
  margin-left: auto;
}

  .message {
    padding: 17px 18px 18px 19px;
  }

  .postImg {
    width: 45px;
    height: 45px;
  }

}
