@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: var(--snow-color);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.64px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --blue-color: #0a327b;
  --red-color: #f65552;
  --very-dark-grey-blue-color: #1c202b;
  --dark-grey-blue-color: #5e6778;
  --grey-blue-color: #939cad;
  --light-grey-blue-color: #e5effa;
  --very-light-grey-blue-color: #dde7ee;
  --snow-color: #f7fafd;
  --white-color: #fff;
}

#root {
  max-width: 730px;
  padding: 0 16px 30px;
  background-color: var(--white-color);
}

.avatar,
picture,
svg {
  display: block;
  max-width: 100%;
}

.avatar {
  width: 39px;
  height: 39px;
  margin-right: 13px;
}

input,
textarea,
button,
select {
  font: inherit;
}

button {
  border: 0;
  background-color: transparent;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-count {
  display: flex;
  align-items: center;
  margin: 24px 0;
}

.notification-count h1 {
  font-size: 20px;
  line-height: 25.2px;
}

.notification-count div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 25px;
  border-radius: 6px;
  margin-left: 10px;
  background-color: var(--blue-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 800;
  line-height: 20.16px;
}

.notification-count h1,
.name {
  color: var(--very-dark-grey-blue-color);
}

.mark-read button,
.action,
.secondary-link {
  color: var(--dark-grey-blue-color);
}

.notification-count h1,
.name {
  font-weight: 800;
}

.action {
  margin: 0 6px;
}

.notification {
  display: flex;
  align-items: flex-start;
  padding: 16px 26px 16px 16px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.unread {
  background-color: var(--snow-color);
}

.link {
  font-weight: 700;
}

.primary-link {
  color: var(--blue-color);
}

.badge {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-bottom: 1px;
}

.time {
  margin-top: 3px;
  color: var(--grey-blue-color);
}

.message {
  padding: 16px;
  border: 1px solid var(--very-light-grey-blue-color);
  border-radius: 5px;
  margin-top: 12px;
  color: var(--dark-grey-blue-color);
}

.postImg {
  display: block;
  width: 39px;
  height: 39px;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
  }

  #root {
    padding-inline: 30px;
    padding-bottom: 0;
    border-radius: 16px;
    margin: 63px auto 89px;
  }

  .header {
    padding-left: 2px;
  }

  .notification-count {
    margin: 33px 0 32px;
  }

  .notification-count h1 {
    font-size: 24px;
    line-height: 30.24px;
  }

  .notification-count div {
    margin-left: 11px;
  }

  .notification-count h1,
  .name,
  .link {
    font-weight: 800;
  }

  .notification {
    padding: 18px 20px 17px 20px;
    margin-bottom: 11px;
  }

  .avatar {
    width: 45px;
    height: 45px;
    margin-right: 20px;
  }

  .action {
    margin: 0 7px;
  }

  .message {
    padding: 17px 18px 18px 19px;
  }

  .postImg {
    width: 45px;
    height: 45px;
  }

  }
}
